@import './globals.scss';

.kt-loader {
    animation-name: kt-animation;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes kt-animation {
    0%, 10%, 25%, 60%, 75%, 100% {
        transform: rotateX(0deg) rotateY(0deg);        
    }

    20% {
        transform: rotateX(90deg) rotateY(0deg);
    }

    70% {
        transform: rotateX(0deg) rotateY(90deg);
    }
}

