@import './globals.scss';


.loader-5 {
    box-sizing: border-box;
    @include width-height;
    border-top: 4px solid lightskyblue;
    border-bottom: 4px solid lightskyblue;
    animation: loader-5 2s ease-in-out infinite;
}

@keyframes loader-5 {
    0% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(-180deg);        
    }
    100% {
        transform: rotate(180deg);                
    }
}
