@import './globals.scss';


.loader-4 {
    box-sizing: border-box;
    @include width-height;
    border-top: 10px solid salmon;
    border-left: 10px solid transparent;
    border-bottom: 10px solid salmon;
    border-right: 10px solid transparent;
    animation: loader-4 1s linear infinite;
}

@keyframes loader-4 {
    to {
        transform: rotate(-360deg);
    }
}

.loader-4-inner {
    top: -50px;
    @include custom-width-height(20px, 20px);
    border-top: 10px solid transparent;
    border-left: 10px solid salmon;
    border-bottom: 10px solid transparent;
    border-right: 10px solid salmon;
    animation: loader-4-inner 1s linear infinite;
}

@keyframes loader-4-inner {
    to {
        transform: rotate(360deg);
    }
}

