
@import './globals.scss';

.loader-2 {
    @include width-height;
    border-radius: 50%;
    border-width: 0;
    border-top: 8px solid salmon;
    border-right: 4px solid $backgroundColor;
    animation: loader-2 1s linear infinite;
}


@keyframes loader-2 {
    to {
        transform: rotate(360deg);
    }
}
