
@import './globals.scss';

.loader-2 {
    @include width-height;
    border: 0px solid lightgray;
    animation: loader-2 1.2s linear infinite;
    border-top: 8px solid salmon;
    border-right: 4px solid $backgroundColor;
    border-radius: 50%;
}


@keyframes loader-2 {
    to {
        transform: rotate(360deg);
    }
}
